<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag{
       width:140px;
       height:140px;
     }
    </style>
    <div class= "container">
      <div class="row">
      <h1 class="col-lg-12">Gestor de Clientes</h1>
      <button class="btn btn-info" on-click="obtenerClientes" type="button" name="button">Obtener Clientes</button>
      <button class="btn btn-warning" on-click="anadirClientes" type="button" name="button">anadir Clientes</button>
      </div>
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped">
          <tbody>
            <template is="dom-repeat" items ="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
          </template>
          </tbody>
        </table>
      </div>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Gestorclientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados: {
            type:Boolean,
            value:true
          },
          respuesta:{
            type: Object
          }
        };
      }
  obtenerClientes() {
  var url = "http://localhost:3002/movimientos";
  var request = new XMLHttpRequest();
  console.log(url);
  request.open("GET",url,false);
  request.setRequestHeader("Accept", "application/json");
  request.send();
  console.log(request.responseText);
  this.clientes =JSON.parse(request.responseText);
  console.log(this.clientes);
  this.noCargados = false;
    }
    anadirClientes(){
      var url = "http://localhost:3002/movimientos";
      var request = new XMLHttpRequest();
      request.open("POST",url, false);
      request.setRequestHeader("Accept","aplication/json");
      request.setRequestHeader("Content-Type","aplication/json");

      var nuevoCliente ={"CustomerID":"12345", "ContactName":"Pepe", "CompanyName":"Pepes"}
      var body= JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta=request.responseText;
      console.log(this.respuesta);
      this.noCargados=false;
    }
  }
    window.customElements.define(Gestorclientes.is, Gestorclientes);
  </script>
</dom-module>
